.quiz__container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
        'user user user'
        'close question-section hint'
        'question-image question-image question-image'
        'answer answer answer';
    height: 100vh;
}
